/* CSS Reset - removes the built in CSS in HTML pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Google Fonts */
body {
  font-family: "Open Sans", sans-serif;
}

/* Navigation Bar Start */
nav {
  padding: 0.8rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid gray;
  list-style-type: none;
}
nav .nav,
nav .nav-logo {
  margin: 0.5rem;
  display: inline;
}
/* Navigation Bar End */

/* Intro Section Start */
#intro {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}
.header {
  text-align: center;
}
#intro h2,
#intro p {
  margin-bottom: 1rem;
}
#intro button {
  font-weight: bold;
  color: white;
  background-color: #c2195b;
  border-radius: 25px;
  font-size: 1rem;
  padding: 1rem;
}
/* Intro Section End*/

/* Succeed Section Start */
#succeed-info {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
/* Succeed Section End*/

/* Pre-footer Section Start */
#pre-footer {
  background-color: #002540;
  color: white;
  padding-top: 2rem;
}

#pre-footer .card {
  display: inline-block;
  vertical-align: baseline;
  min-height: 90px;
  width: 20%;
  margin-left: 0.5rem;
  margin-right: 0.7rem;
}
/* Pre-footer Section End*/

/* Footer Section Start */
footer {
  padding: 0.7rem;
  text-align: center;
}
footer span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/* Footer Section End*/
